.display-col-center-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.display-row-center-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.display-row-space {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.display-col-center-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.display-row-center-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.dis-col-mid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
header {
  font-family: "font-black";
  z-index: 1000;
  background-color: white;
}
header .wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 50pt;
  background-color: white;
  display: block;
}
header .wrapper img {
  display: inline-block;
  height: auto;
  width: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: content-box;
}
header .wrapper img.logo {
  display: inline-block;
  height: auto;
  width: 7%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: content-box;
}
header.default {
  border-bottom: 0px solid green;
  -webkit-transition: all 1200ms ease-in-out;
  -moz-transition: all 1200ms ease-in-out;
  -ms-transition: all 1200ms ease-in-out;
  -o-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}
header.fadeOut {
  border-bottom: 1px solid green;
  -webkit-transition: all 1200ms ease-in-out;
  -moz-transition: all 1200ms ease-in-out;
  -ms-transition: all 1200ms ease-in-out;
  -o-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}
header .menu {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
  padding: 0em 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
header .menu .item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: auto;
  margin-left: 2em;
}
header .menu .item .wrapper {
  height: 100%;
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
header .menu .item .item-header {
  height: 100%;
  width: auto;
  background-color: white;
  z-index: 10;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
header .menu .item .item-header .wrapper {
  width: fit-content;
  max-width: 10em;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
header .menu .item .item-header .wrapper img {
  width: 0.5em;
}
header .menu .item .item-header .wrapper span {
  padding: 0.5em;
}
header .menu .item.default .item-header .wrapper img {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
header .menu .item.hover .item-header .wrapper img {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
header .menu .item .item-content {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50pt;
  z-index: 0;
  overflow: hidden;
  background-color: white;
  display: none;
}
header .menu .item .item-content .sub-item {
  position: relative;
  top: 0px;
  padding: 1em;
  background-color: white;
  color: black;
  width: 100%;
  max-width: 10em;
}
header .menu .item .item-content .sub-item:first-child {
  border-top: 1px solid green;
}
header .menu .item .item-content .sub-item:hover {
  background-color: orange;
  color: white;
}
header .menu .item.default .item-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .menu .item.hover .item-content {
  height: 250%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .menu .item.hover:nth-child(3) .item-content {
  height: 300%;
}
header .item {
  cursor: pointer;
}
header span:hover {
  color: gray;
}
.mobile img.logo {
  height: 83%;
  width: auto;
}
header .menu-btn {
  display: none;
}
header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
header .menu {
  clear: none;
  float: right;
  max-height: none;
}
header .menu-icon {
  display: none;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
@media only screen and (max-width: 900px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  header .wrapper img.logo {
    height: 83%;
    width: auto;
  }
  header .wrapper {
    width: 100%;
  }
  header .menu {
    display: none;
    height: auto;
    background-color: white;
    margin: 0px;
    padding: 0px;
    float: none;
    margin: 0 auto;
  }
  header .menu .item {
    display: block;
    height: fit-content;
    padding: 1.5em 0em;
    margin: 0px;
    background-color: white;
  }
}
