/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.col.map {
  height: 510px;
  width: 50%;
}
.col.map #map {
  width: 100%;
  height: 290px;
}
.col.form {
  height: 500px;
  width: 50%;
}
.contact section.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@media only screen and (max-width: 900px) {
  .contact section.row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .col.map {
    height: 400px;
    width: 100%;
  }
  .col.form {
    height: 400px;
    width: 100%;
  }
  .contact .col {
    padding: 2em !important;
    margin: 0px !important ;
  }
}
