.display-col-center-center {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-row-center-center {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-row-space {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-col-center-top {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-row-center-top {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.dis-col-mid {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header {
  font-family: "font-black";
  z-index: 1000;
  background-color: white;
}
header .wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  height: 50pt;
  background-color: white;
  display: block;
}
header .wrapper img {
  display: inline-block;
  height: auto;
  width: 5px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: content-box;
}
header .wrapper img.logo {
  display: inline-block;
  height: auto;
  width: 7%;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: content-box;
}
header.default {
  border-bottom: 0px solid green;
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}
header.fadeOut {
  border-bottom: 1px solid green;
  -webkit-transition: all 1200ms ease-in-out;
  transition: all 1200ms ease-in-out;
}
header .menu {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
  padding: 0em 0.5em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
header .menu .item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: auto;
  margin-left: 2em;
}
header .menu .item .wrapper {
  height: 100%;
  width: auto;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .menu .item .item-header {
  height: 100%;
  width: auto;
  background-color: white;
  z-index: 10;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .menu .item .item-header .wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 10em;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
header .menu .item .item-header .wrapper img {
  width: 0.5em;
}
header .menu .item .item-header .wrapper span {
  padding: 0.5em;
}
header .menu .item.default .item-header .wrapper img {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
header .menu .item.hover .item-header .wrapper img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
header .menu .item .item-content {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50pt;
  z-index: 0;
  overflow: hidden;
  background-color: white;
  display: none;
}
header .menu .item .item-content .sub-item {
  position: relative;
  top: 0px;
  padding: 1em;
  background-color: white;
  color: black;
  width: 100%;
  max-width: 10em;
}
header .menu .item .item-content .sub-item:first-child {
  border-top: 1px solid green;
}
header .menu .item .item-content .sub-item:hover {
  background-color: orange;
  color: white;
}
header .menu .item.default .item-content {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .menu .item.hover .item-content {
  height: 250%;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header .menu .item.hover:nth-child(3) .item-content {
  height: 300%;
}
.footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 0;
  background-color: #343a40;
}
.footer .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .row {
  display: block;
  width: 100%;
}
.footer .col {
  width: calc(100% / 3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5pt;
  text-align: left;
}
.footer .footer-header {
  background-color: #343a40;
  border-bottom: 1px solid #3d444a;
  font-family: "font-light";
  font-weight: 800;
  color: white;
}
.footer .footer-header h3 {
  width: calc(100% / 3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 5pt;
  text-align: left;
}
.footer .footer-content {
  color: white;
  font-family: "font-light";
  font-weight: 800;
  text-align: left;
}
.footer .footer-content .contact {
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer-content .contact h1 {
  font-family: "font-black";
  padding: 2em 0em;
}
.footer .footer-content .contact h2 {
  font-family: "font-light";
  font-weight: 800;
  padding: 0.5em 0em;
}
.footer .footer-content .contact .phone {
  font-family: "font-light";
  font-weight: 800;
  padding: 0.5em 0em;
}
.footer .footer-content .contact .email {
  font-family: "font-light";
  font-weight: 800;
  padding: 0.5em 0em;
}
.footer .footer-content .contact .website {
  font-family: "font-light";
  font-weight: 800;
  padding: 0.5em 0em;
}
.footer .footer-content .info .wrapper {
  background-color: rgba(0, 0, 0, 0);
}
.footer .footer-content .links {
  text-align: left;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer .footer-content .links a {
  padding: 1em 0em;
  border-bottom: 1px solid #252525;
  width: 100%;
}
.footer .copyright {
  background-color: #323232;
  font-family: "font-light";
  font-weight: 800;
  color: white;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .social {
  font-family: "font-light";
  font-weight: 800;
  color: white;
  padding: 1em 0em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-align-items: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer .social .social-icons {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 33.3333%;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer .social .social-icons li {
  display: inline-block;
  padding: 0em 1em;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  margin: 0em 1em;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .social .social-icons li:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.footer .social .social-icons li:first-child {
  margin-left: 0em;
}
.footer .social .social-icons li i {
  display: inline-block;
}
.footer .social .terms {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.col.map {
  height: 400px;
  width: 50%;
}
.col.map #map {
  width: 100%;
  height: 500px;
}
.col.form {
  height: 400px;
  width: 50%;
}
.contact section.row {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Raleway:300, 500, 700");
  font-display: block;
}
.card.c-yellow .nav {
  background-color: #FFB90F;
}
.card.c-yellow .nav h2 {
  background-color: #FFB90F;
}
.card.c-yellow .content {
  border-top: 5px solid #FFB90F;
}
.card.c-green .nav {
  background-color: #00822F;
  border-top: 5px solid #00822F;
}
.card.c-green .content {
  border-top: 5px solid #00822F;
}
.card {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10pt;
}
.card .wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card .nav {
  display: inline-block;
  margin-right: 5pt;
  height: 35em;
}
.card .content {
  display: inline-block;
  margin-left: 5pt;
  height: 30em;
}
.card .content .col {
  display: inline-block;
  vertical-align: top;
}
.card .content .col {
  display: none;
}
.card .nav {
  width: calc(30% - 15pt);
  margin-right: auto;
}
.card .nav img,
.card .nav h2 {
  display: inline-block;
  vertical-align: middle;
}
.card .nav img {
  width: 1.5em;
  padding: 1.5em;
}
.card .nav h2 {
  color: white;
  font-size: 1.25em;
}
.card .content {
  width: calc(70% - 5pt);
  margin-left: auto;
}
.card .content .col {
  display: inline-block;
  width: 40%;
}
.card .content .col.photos {
  width: 20%;
}
.card .content .col.photos .wrapper {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .content .col.photos img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 10%;
  padding-left: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card .content .col.info h3 {
  color: #961934;
  font-size: 1.25em;
  padding: 1em 0em;
}
.card .content .col.plus {
  width: 38%;
  height: 100%;
  vertical-align: middle;
}
.card .content .col.plus .wrapper {
  height: 100%;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .content .col.plus p {
  border-left: 1px solid red;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
}
.timeline {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .row {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .time-item .color-block {
  width: 7em;
  height: 7em;
  color: white;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .time-item.green .color-block {
  background-color: #8BC53F;
}
.timeline .time-item.orange .color-block {
  background-color: #E5520F;
}
.timeline .time-item.red .color-block {
  background-color: #961934;
}
.timeline .time-item.yellow .color-block {
  background-color: #FFB90F;
}
.timeline .time-mid .color-block {
  width: 7em;
  height: 7em;
}
.timeline .row .image {
  width: 7em;
  height: 7em;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .row .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
}
.timeline .row .text {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 15em);
  height: 7em;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.timeline .time-mid {
  width: 7em;
}
.timeline .time-mid img {
  width: 100%;
}
#about-history .nav,
.content {
  height: 55em;
}
.contact .row {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .col {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .col:last-child {
  background-color: #FFB90F;
}
.contact .row-2 {
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .col-2 {
  width: 50%;
  display: block;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .col-2:first-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 1em;
}
.contact .col-2:last-child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 0em;
}
.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 li.checkbox {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2em;
}
.form-style-1 li.checkbox input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #00822f;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}
