@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Raleway:300, 500, 700");
  font-display: block;
}
@font-face {
  font-family: "Avenir-Light";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/AvenirLTStd-Light.otf?0b78ec9d509f67bfe3f8458c9d285df0);
  font-display: block;
}
@font-face {
  font-family: "Avenir-Black";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/AvenirLTStd-Black.otf?b1abb878e2529cb5cb4450139844155d);
  font-display: block;
}
@font-face {
  font-family: "font-light";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/AvenirLTStd-Light.otf?0b78ec9d509f67bfe3f8458c9d285df0);
  font-display: block;
}
@font-face {
  font-family: "font-black";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/AvenirLTStd-Black.otf?b1abb878e2529cb5cb4450139844155d);
  font-display: block;
}
.display-col-center-center {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-row-center-center {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-row-space {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-col-center-top {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.display-row-center-top {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.dis-col-mid {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card.c-yellow .nav {
  background-color: #FFB90F;
}
.card.c-yellow .nav h2 {
  background-color: #FFB90F;
}
.card.c-yellow .content {
  border-top: 5px solid #FFB90F;
}
.card.c-green .nav {
  background-color: #00822F;
  border-top: 5px solid #00822F;
}
.card.c-green .content {
  border-top: 5px solid #00822F;
}
.card {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 10pt;
}
.card .wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card .nav {
  display: inline-block;
  margin-right: 5pt;
  height: 35em;
  cursor: pointer;
}
.card .content {
  display: inline-block;
  margin-left: 5pt;
  height: 30em;
}
.card .content .col {
  display: inline-block;
  vertical-align: top;
}
.card .content .col {
  display: none;
}
.card .nav {
  width: calc(30% - 15pt);
  margin-right: auto;
}
.card .nav img,
.card .nav h2 {
  display: inline-block;
  vertical-align: middle;
  max-width: 5em;
}
.card .nav img {
  width: 1.5em;
  padding: 1.5em;
}
.card .nav h2 {
  color: white;
  font-size: 1.25em;
}
.card .content {
  width: calc(70% - 5pt);
  margin-left: auto;
}
.card .content .col {
  display: inline-block;
  width: 40%;
}
.card .content .col.photos {
  width: 20%;
}
.card .content .col.photos .wrapper {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .content .col.photos img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  padding: 10%;
  padding-left: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.card .content .col.info h3 {
  color: #961934;
  font-size: 1.25em;
  padding: 1em 0em;
}
.card .content .col.plus {
  width: 38%;
  height: 100%;
  vertical-align: middle;
}
.card .content .col.plus .wrapper {
  height: 100%;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .content .col.plus p {
  border-left: 1px solid red;
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
}
.card.hide .col.photos,
.card.hide .col.info,
.card.hide .col.plus {
  display: none !important;
}
.card.hide .content {
  height: 5em !important;
}
.card.hide .nav {
  height: 5em !important;
}
.card.hide .nav img {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.card.hide .row {
  display: none !important;
}
.card.hide .timeline .row {
  display: none;
}
@media only screen and (max-width: 900px) {
  .card .nav {
    display: block;
    width: 100%;
    height: 3.5em !important;
  }
  .card.hide .nav {
    display: block;
    width: 100%;
    height: 3.5em !important;
  }
  .card .nav img,
  .card .nav h2 {
    max-width: 10em;
  }
  .card .content {
    display: block;
    width: 100%;
    height: auto;
  }
  .card .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card .content .col {
    display: inline-block;
    font-size: 0.9em;
    width: 0%;
  }
  .card .content .col.photos {
    width: 30%;
  }
  .card .content .col.info {
    width: 60%;
  }
  .card .content .col.info p {
    font-size: 13px;
  }
  .card .content .col.plus {
    padding-left: 27%;
    padding-top: 5%;
  }
  .card .content .col.photos img {
    padding: 10%;
  }
  .card .content .col.photos .wrapper {
    padding-top: 7pt;
  }
  .card .content .col.plus {
    width: auto;
    font-size: 13px;
    padding-right: 10%;
    height: 100%;
    vertical-align: middle;
  }
  .ready-meals .row .info {
    width: auto;
    padding-left: 11px;
    padding-right: 33px;
    font-size: 13px;
  }
  .ready-meals .row .logo {
    width: 25%;
    padding: 2%;
  }
  .ready-meals .row .logo {
    width: 30%;
    padding: 2%;
    /* padding-left: 0px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.timeline {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .row {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .time-item .color-block {
  width: 7em;
  height: 7em;
  color: white;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .time-item.green .color-block {
  background-color: #8BC53F;
}
.timeline .time-item.orange .color-block {
  background-color: #E5520F;
}
.timeline .time-item.red .color-block {
  background-color: #961934;
}
.timeline .time-item.yellow .color-block {
  background-color: #FFB90F;
}
.timeline .time-mid .color-block {
  width: 7em;
  height: 7em;
}
.timeline .row .image {
  width: 7em;
  height: 7em;
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.timeline .row .image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em;
}
.timeline .row .text {
  display: -ms-flexbox;
  display: -ms-flex;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 15em);
  height: 7em;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.timeline .time-mid {
  width: 7em;
}
.timeline .time-mid img {
  width: 100%;
}
#about-history .nav,
.content {
  height: 55em;
}
@media only screen and (max-width: 900px) {
  .timeline .time-item .color-block {
    width: 3em;
    height: 10em;
  }
  .timeline .time-mid {
    width: 3em;
  }
  .timeline .row .text {
    font-size: 13px;
    height: 12em;
    width: calc(100% - 10em);
  }
  .timeline .row .image {
    width: 5em;
  }
}
