@import "./../config/_mixins.less";
@import "./../theme/_color.less";


img.banner {
  padding-top: 0pt;
  height: 250px;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: left;
  position: relative;
  left: 0px;
}

main.about {
  display: block;
  margin: 0 auto;
  width: 100%;
  img.banner {
    padding-top: 45pt;
  }

}



.card.ourpeople {
  .row {
    .flex-display(flex);
    .flex-direction(row);
    .flex-wrap(nowrap);
    .justify-content(center);
    .align-content(center);
    .align-items(center);
    .logo {
      width: 125pt;
      padding: 25pt;
    }
  }
}
.ourpeople {
  .row {
    .flex-display(flex);
    .flex-direction(row);
    .flex-wrap(wrap);
    .justify-content(center);
    .align-content(center);
    .align-items(center);

    .row:nth-child(1) {
    }
    .row:nth-child(2) {
    }
    .row:nth-child(3) {
      margin: 5em auto;
    }
  }
}
.ourpeople {
  .position {
    width: 33%;
    margin: 3em auto;
    .flex-display(flex);
    .flex-direction(row);
    .flex-wrap(wrap);
    .justify-content(center);
    .align-content(center);
    .align-items(center);
    .title {
      color: @color-red;
      font-size: 1.25em;
      font-weight: 900;
      text-align: center;
    }
    .name {
      color: @color-green;
      font-size: 1em;
      text-decoration: underline;
    }
  }
}




@media  only screen and (max-width: 900px)  {

  main.about {
    display: block;
    margin-top: 55pt;
  }
  
  img.banner {
    padding-top: 12pt;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
    width: 200vw;
    height: 6em;
    position: relative;
    left: -6em;
  }
  main.about img.banner {
    padding-top: 8pt;
}
  .card.ourpeople .row .logo {
    width: 95pt;
    padding: 25pt;
}
.ourpeople .position {
  width: 33%;
  margin: 1em auto;}
  .ourpeople .position .name{
    text-align: center;
    padding-top: 0.5em;
  }
  .ourpeople .position .title {
 
    font-size: 1em;
  
}
}
