@import "./../theme.less";

.contact-info {
  h2 {
    font-size: 1.25em;
    color: @color-dark-green;
    font-family: "font-black";
  }
  p {
    font-size: 1em;
    color: gray;
    font-family: "font-light";
  }
}
